article{
    background-color: white;
    border: 1px solid #c5c5c5;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: 1px 2px 1px rgba(121, 32, 87, 0.3);
}

article:hover{
    box-shadow: 1px 2px 11px rgba(121, 32, 87, 0.3);
}

article .title{
    margin-bottom: 0.5em;

}
article .title a {
    color: #1ce;
    text-decoration: none;
    
}
article .time {
    color: #c5c5c5;
    font-style: italic;
    
}
article .title a:hover {
    text-decoration: underline;
    
}
article .content{
    padding: 0.5em 0;
}